body {
  height:100%;
    text-align:center;
    background-color:#2e4663;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
}

.wrapper {
  width:100%;
}

#letList {
list-style: none;
display: inline-flex;
padding-top:20px;
}

h1{
  color: #cbd8e7;
  display:flex;
  margin-left: 420px;
}

h2 {
  color: #cbd8e7;
  display:flex;
  margin-left: 460px;
}

p {
  display:flex;
}
.letC {
  margin: 0 10px 10px 0;
  width:38px;
  height:33px;
  padding-top:3px;
background-color:white;
border: solid 1px white;
border-radius: 5px;
cursor: pointer;
}
.letC:hover {
  background-color: #2e4663;
  color:#cbd8e7;
}

#guesses {
  display:flex;
  margin-left: 550px;

}

#guessList {
  list-style: none;
  display:inline-flex;
  padding-top: 20px;
}

.guessC {
    position:relative;
    margin:0px;
    padding:10px;
    color: #cbd8e7;
    font-size:1.6em;
    width: auto;

}

#lives {
  padding-top: 20px;
  color:#cbd8e7;
  font-size:1.6em;
  display: flex;
  margin-left: 550px;
}

button {
  background-color: #2e4663;
  color: #cbd8e7;
  border: solid 1px white;
  border-radius: 5px;
  cursor:pointer;
  font-size:1.2em;
  padding:10px;
  width:180px;
  margin: 10px;
  outline: none;
  display:flex;
  margin-left: 590px;
  text-align: center;
}

button:hover{
  background-color: white;
  color:#2e4663;
}

button p {
  display: flex;
  margin-left: 40px;
}

#hangman{
  padding:10px;
  display: flex;
  margin-left: 350px;
}
