body {
  height:100%;
    text-align:center;
    background-color:#2e4663;
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
}

.wrapper {
  width:100%;
}

#letList {
list-style: none;
display: inline-flex;
padding-top:20px;
}

h1, h2{
  color: #cbd8e7;
}
.letC {
  margin: 0 10px 10px 0;
  width:38px;
  height:33px;
  padding-top:3px;
background-color:white;
border: solid 1px white;
border-radius: 5px;
cursor: pointer;
}
.letC:hover {
  background-color: #2e4663;
  color:#cbd8e7;
}

#guessList {
  list-style: none;
  display:inline-flex;
  padding-top: 20px;
}

.guessC {
    position:relative;
    margin:0px;
    padding:10px;
    color: #cbd8e7;
    font-size:1.6em;
    width: auto;

}
